body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(133, 166, 177);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
.form-container {
    width: 100%; 
    max-width: 600px; 
    justify-content: center;
    align-items: center;
    margin: 30px auto; 
    background: rgb(239, 249, 252); 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
    box-sizing: border-box; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: aliceblue;
}
.genders{
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills {
    display: flex;
  
}
  
  label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
.step {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background: #eee;
    flex: 1;
    margin: 0 5px;
    transition: background 0.3s;
}
.step.active {
    background: #007bff;
    color: white;
    
}
.form-step {
    display: none;
    padding-left: 10px;
}
.form-step.active {
    display: block;
    
}
label {
    display: block;
    margin-top: 10px;
}
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.error-message {
    color: red;
    font-size: 0.9em;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
